div#cookie-disclaimer
    p
      | In order to comply with new legislation, we have introduced a new cookie
      | policy. It explains what cookies are, how we use them, how to disable
      | them and any third party cookies that are in use on our website. It
      | can be accessed by viewing our cookie policy.
    p
      | By clicking close on this message, you consent to our use of cookies
      | on this device in accordance with our cookie policy.
    div.actions
      button.gray#close-disclaimer Close
